* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

header {
    text-align: center;
    margin-bottom: 3rem;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
}

.tagline {
    font-size: 1.75rem;
    margin-top: -8px;
    font-style: italic;
}

.content {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

nav ul {
    list-style: none;
    /* width: 250px; */
    width: fit-content;
    height: 100%;
    position: relative;
    min-height: 400px;
    text-wrap: nowrap;
}

nav li {
    margin-bottom: 1rem;
}

nav li:last-child {
    position: absolute;
    bottom: 0;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.7rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.355);
    padding: 0 10px;
    transition: transform 0.2s;
    display: block;
}

nav a:hover {
    transform: translateX(10px);
    transition: transform 0.2s;
}

.image-container {
    flex: 1;
    max-width: 500px;
}

.image-container img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    nav ul {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
        min-height: unset;
        position: static;
    }
    
    nav li {
        margin-bottom: 1rem;
    }

    nav li:last-child {
        position: static;
        margin-top: 2rem;
    }
    
    .image-container {
        width: 100%;
        max-width: 200px;
        margin-bottom: 1rem;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    header {
        margin-bottom: 1rem;
    }
}

@media (max-width: 480px) {
    body {
        padding: 1rem;
    }
    
    h1 {
        font-size: rem;
    }
    
    .tagline {
        font-size: 1rem;
    }
    
    nav a {
        font-size: 1.2rem;
    }
}
